.main{
	background: url("../images/login_bg.jpg") no-repeat;
	height: 710px;
}
.des{
	color:#ccc;
}
h3{
	display: block;
	padding: 30px 0px 30px 20px;
}
.form-group{
	margin:10px 10px;
}
h3{
	margin-top: 20px;
}
button{
	width: 100%;
}
.error{
	color:red;
	font-size: 14px;
}
.register-error{
	color: red;
	font-size: 20px;
	margin-top: 100px;
}






